annotated-types==0.6.0
async-timeout==4.0.3
asyncpg==0.29.0
greenlet==3.0.3
pydantic>=1.6.2
pydantic-settings==2.1.0
python-dotenv==1.0.1
SQLAlchemy==2.0.25
typing_extensions==4.9.0
fastapi>=0.68.0
uvicorn>=0.15.0